.cart-card{
    box-shadow:none;
}
.cart-card > .badge{
    cursor: pointer;
}

.cart-card > .card-img {
    height: 21em;
}

.cart-card{
    height: fit-content;
    width:23rem;
}

.card-title span, h2{
    font-size: 1.5rem;
}  
.cart-card:hover{
    transform: scale(1.01);
    /* opacity: 1.01; */
    /* filter: brightness(0.99); */
    box-shadow: 0 4px 2px rgba(0,0,0,0.02),
    0 8px 16px rgba(0,0,0,0.03),
    0 16px 10px rgba(0,0,0,0.04),
    0 26px 18px rgba(0,0,0,0.05);
}

.discount-price{
    color: red;
    margin:1.2em
}

@media screen and (max-width: 1030px) {
    .cart-card{
        height: fit-content;
        width:21rem;
    }
}

@media screen and (max-width: 780px) {
    .cart-card{
        width: 20rem;
        font-size: 1rem;
    }
    .cart-card > .card-img {
        height: 19em;
    }  
    .card-title span, h2{
        font-size: 1.3rem;
    }  
}


@media screen and (max-width: 660px) {
    .cart-card{
        width: 15rem;
        font-size: 0.85rem;
    }
    .cart-card > .card-img {
        height: 17em;
    } 
    .card-title span, h2{
        font-size: 1.2rem;
    } 
}



@media screen and (max-width: 480px) {
    .cart-card{
        width: 13rem;
        font-size: 0.75rem;
    }
    .cart-card > .card-img {
        height: 15rem;
    } 
    .card-title span, h2{
        font-size: 1.1rem;
    } 
}


@media screen and (max-width: 360px) {
    .cart-card{
        width: 10rem;
        font-size: 0.65rem;
    }
    .cart-card > .card-img {
        height: 12rem;
    } 
    .card-title span, h2{
        font-size: 1rem;
    } 
}