.underlist-img-slider{
    overflow-x: hidden;
    /* width: 95vw; */
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.underlist-img-slider::-webkit-scrollbar{
    width: 1rem;
}
.underlist-img-slider::-webkit-scrollbar-track{
    background-color: var(--shade-1);
}
.underlist-img-slider::-webkit-scrollbar-thumb{
    background-color: var(--btn-text-color-2);
    border-radius: 1rem;
    border: 3px solid  var(--shade-1);
}

.underlist-img-slider::-webkit-scrollbar :hover{
    transform: scale(1.2);
    cursor: pointer;
}

/* auto slide */

@keyframes framerateslideplay {
    0% {left: 100%}
    4% {left: 0%}
    33.33% {left: 0%}
    37.33% {left: -100%}
    100% {left: -100%}
    }


.listImgSlide {
    height: 20rem;
    width: 22rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
.listImgSlide > * {
    position: absolute; 
    left: 100%; 
    top: 0;
    animation: 12s framerateslideplay infinite ease-in-out
}

.listImgSlide > *:nth-child(1) {animation-delay: 0s}
.listImgSlide > *:nth-child(2) {animation-delay: 4s}
.listImgSlide > *:nth-child(3) {animation-delay: 8s}

.img-slide{
    height: 20em;
    object-fit: cover;
    width: 22em;
}

.overlay-img-slider {
    background-color: rgba(0,0,0,0.3);
    color: white;
    font-size: 1.2em;
}