.home-container-main-1{
    height: fit-content;
    width: 90%;
    background-color: var(--container-bg-color);
    margin-top: 2rem;
    position: relative;
}


.container-img{
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}


	
.product-check-navigator:hover{
    transform: scale(0.9) 2s;
    /* opacity: 0.83; */
    filter: brightness(0.8);
}


.product-check-navigator{
    text-decoration: none;
    position: absolute;
    top: 4rem;
    left: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    background-color: var(--pink-bg-color);
    color: var(--text-color);
}