.product-page-container{
    display: flex;
    flex-wrap: wrap;

}

.aside{
    flex-basis: 27rem;
    background-color: var(--shadow-bg);
}


.main{
    flex-grow: 1;
    flex-basis: 300px;
    background-color: transparent;
}

.price-slider{
    transition: .2s;
    color: aqua;
}
label{
    font-size: 1.5rem;
    font-weight: 500;
}

.product-page-category input{
    margin-left: 10px;
}

.product-page-category div{
    text-align: start;
    margin-left: 25%;
    cursor: pointer;
}

.aside-header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.price-container{
    padding:rem;
}

.product-page-category{
    padding: 1em;
}
.rating-container{
    padding: 1em;
}

.rating-container div{
    padding: 0.5em;
}

.sort-by-conatianer{
    padding: 1em;
}

.sort-by-conatianer div{
    text-align: start;
    margin-left: 25%;
}

.product-main-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toggler{
    cursor: pointer;
    margin-left: 86%;
    font-weight: 600;
    font-size: 3rem;
    background-color: transparent;
    padding: 3px;
    border-radius: 10%;
}

.filter-btn{
    cursor: pointer;
    padding: 1rem;
    font-weight: 2rem;
    width: 50vw;
    display: block;
    margin-top: 2rem;
    background-color: #e7edef;
    color: black;
    font-size: 2rem;
    display: flex;
    text-align: center;
    font-weight: 700;
    justify-content: center;
    gap: 1rem;
}

.filter-btn:hover{
    transform: scale(1.1);
}

.filter-btn-cl{
    padding: 1rem;
    outline: white;
    border: none;
    align-items: center;
    display: flex;
    font-weight: 800;
    min-width: 15%;
    justify-content: center;
    gap: 0.1em;
    border-radius: 0.5em;

}

.product-page-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.filter-btn-clear{
    padding: 0;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    min-width: 30%;
    justify-content: center;
}

datalist {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 0px;
    gap: 2em;
  }

.card-img{
object-fit: contain !important;
}

option{
    font-size: 1em;
    font-weight: 700;
}
  

.sortby-filter{
    padding: 1em;
    cursor: pointer;
}

.sortby-filter:hover{
    background-color: rgba(0,0,0,0.1);
    transform: scale(1.01);
}
@media screen and (max-width: 800px) {
    aside{
        border-top: 2px solid black;
        z-index: 1;
        transition: 0.5s;
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        flex-basis: 1;
        flex: 1;
    }
    .aside-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .product-page-category div {
        margin-left:0;
    }
    
}